Repository mugencraft/turbobun: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, markdownlint

sort-package-json:
  run: bunx sort-package-json {staged_files} && git update-index --again

markdownlint:
  run: bunx --bun markdownlint '{staged_files}'

build: :package: update deps
  apps/backend/package.json
  package.json
  packages/api/package.json
Due: sort-package-json

fix: :bug: lefthook biome check
  lefthook.yml
Due: none

build: :package: update deps
  package.json
Due: sort-package-json

docs: :memo: update docs
  LICENSE
  README.md
  ROADMAP.md
Due: markdownlint

chore: :hammer: add check action + fix typescript
  .vscode/settings.json
  README.md
  apps/backend/package.json
  apps/backend/tsconfig.json
  apps/website/next.config.mjs
  apps/website/package.json
  apps/website/tsconfig.json
  biome.json
  bun.lockb
  docs/ROADMAP.md
  lefthook.json
  lefthook.yml
  package.json
  packages/api/src/eden.ts
  packages/api/tsconfig.json
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/package.json
  packages/typescript-config/react-library.json
  tsconfig.json
  turbo.json
Due: sort-package-json, markdownlint

build: :package: add check:updates + update deps
  README.md
  apps/backend/package.json
  apps/website/package.json
  bun.lockb
  package.json
Due: sort-package-json, markdownlint

build: :package: fix nextjs website build
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/website/app/page.tsx
  apps/website/next.config.mjs
  apps/website/package.json
  bun.lockb
  package.json
  packages/api/src/eden.ts
Due: sort-package-json

docs: :memo: add concurrently reference
  README.md
Due: markdownlint

build: :package: deps update
  apps/backend/package.json
  apps/website/package.json
  bun.lockb
Due: sort-package-json

ci: :ferris_wheel: changesets improve
  .changeset/config.json
  degit.json
  package.json
Due: sort-package-json

build: :package: update deps
  lefthook.json
  package.json
Due: sort-package-json

build: :package: update deps
  README.md
  apps/backend/package.json
  apps/website/package.json
  package.json
  packages/api/package.json
Due: sort-package-json, markdownlint

Path conditions:
  sort-package-json: any of: *package.json
  markdownlint: any of: *.{md,mdx}
